@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family: Poppins;
  --BlackOliv--: #219B9D;
  --Xanthous--: #4C1F7A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--Xanthous--);
  font-family: var(--font-family);
  font-weight: 500;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--BlackOliv--);
}

/** header-section **/
.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar .nav-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}

header a,
footer a {
  margin-left: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Xanthous--);
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover,
footer a:hover {
  color: #ffff;
}

/** header-section **/

.homepage {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/imgs/dark-galaxy-geometric-bg.jpg);
  background-position: center;
  background-size: cover;
}

.homepage::before {
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.homepage .content {
  display: flex;
  height: 80%;
  z-index: 3;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  padding: 57px;
}

.homepage .content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.homepage .content .text {
  margin-bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.home-img img {
  max-width: 25%;
  border-radius: 25px;
  padding: 1em;
  margin: 0 auto;
}

.content a {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 5px;
  background: #40513B;
  border: 2px solid var(--Eggshell--);
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.content a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}

.home-btn {
  padding: 16px;
}

.home-btn button{
  padding: 5px;
  margin: 3px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}


section {
display: flex;
  color: #ffff;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 0;
  justify-content: space-evenly;
  background-color: var(--Xanthous--);
}

section h2 {
  font-size: 2rem;
  color: var(#ffff);
  text-transform: uppercase;
  padding-top: 3em;font-size: 2rem;
  color: var(#ffff);
  text-transform: uppercase;
}

section>p {
  text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.front {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    background-color: #4CAF50;
    color: white;
    transform: rotateY(180deg);
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(0);
}

/** contact-form **/

.contact form input {
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: 5px solid var(--Taupe-gray--);
  border-radius: 15px;
}

.contact form textarea {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  height: 150px;
  outline: none;
  resize: vertical;
  border: 5px solid var(--Taupe-gray--);
  border-radius: 15px;
}

.contact form button {
margin-top: 10px;
  padding: 10px 20px;
  font-size: 17px;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--BlackOliv--);
  transition: 0.2s ease;
}

.contact form button:hover {
  background: #ffff;
}

.home {
  padding: 1em;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  background-color: var(--BlackOliv--);
  border-radius: 8px;
}

/** contact-form **/

/** footer **/
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--BlackOliv--);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

/** footer **/

/** media queries **/
@media screen and (max-width: 860px) {
  .navbar .nav-links {
    position: fixed;
    left: -100%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 75px;
    background: #40513B;
    transition: left 0.3s ease;
  }

  .navbar #menu-toggler:checked~.nav-links {
    left: 0;
  }

  .navbar .nav-links li {
    font-size: 18px;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  section>p {
    text-align: center;
  }

  section .cards .card {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
  }

  .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homepage .content .text {
    font-size: 17px;
  }

  .content a {
    font-size: 17px;
    padding: 9px 20px;
  }

  .contact .row {
    flex-direction: column;
  }

  .contact .row .col {
    width: 100%;
  }

  .contact .row .col:last-child {
    margin-top: 40px;
  }

  footer a {
    height: 0;
  }
}

@media screen and (max-width: 560px) {
  section .cards .card {
    width: 100%;
    margin-bottom: 30px;
  }
}

